pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/out/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs/
node_modules/
/resources/public/js/main/
